/* generals */

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-shadow{
    text-shadow: 5px 5px 40px #000;
} 
iframe{
    border-radius: 8px;
}

/* nav */

.bs-logo-nav{
    width: 52.5px;
    padding-top: 2px;
    padding-right: 12.5px;
}
.nav-link:hover{
    text-decoration: underline solid #ffffff;
}

/* carrousel */

.carrousel-height{
    height: 500px !important;
}

/* pricing */

.pricing-margin{
    margin: 0 3em 0 3em;
}

/* team */

.our-team{
    font-size: 2.75em;
    padding-bottom: 1em;
}
.team-img{
    border-radius: 50%;
    width: 200px;
    height: auto;
    border: solid 2.5px #000;
    margin: 1em;
}
.col-lg-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* banner */

.img-banner{
    height: 300px;
}

/* footer */

.bs-footer{
    width: 65px;
    height: auto;
}

/* sigin */

.form-signin{
    height: 95vh;
    max-width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* home login */

.home-login{
    padding: 0.5em;
    position: relative;
    width: 0;
    height: 0;
}

/* media */

@media (max-width: 900px){
    .hero-2{
        padding-top: 50px;
    }
    .pricing-margin{
        margin: 0;
    }
    .hero-2{
        margin: 0;  
    }
    iframe{
        height: 300px;
        margin-top: 1em;

    }
    .col-sm-12{
        padding-left: 0.8em;
    }
    .padding-left-team{
        padding-left: 2em;
    }
    .container-footer{
        padding: 0 2em 0 2em;
    }
}